In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_excel(r"C:\Users\HP-PC\Downloads\Data_Science_2020_v2.xlsx",index_col = 0, header = 0)
df.head()

,Current City,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Other skills,Institute,Degree,Stream,Current Year Of Graduation,Performance_PG,Performance_UG,Performance_12,Performance_10
Application_ID,,,,,,,,,,,,,
DS0001,Bangalore,1,0,3,"Machine Learning, Arduino, C Programming, CSS,...",Global Academy of Technology,Bachelor of Engineering (B.E),Electrical and Electronics Engineering,2019,NaN,7.73/10,NaN,NaN
DS0002,Mumbai,2,1,2,"AutoCAD, MS-Office, Machine Learning, Microsof...","Aegis School Of Business, Data Science, Cyber ...",NaN,PGP,2020,NaN,68.00/100,NaN,NaN
DS0003,Mumbai,2,0,0,"C++ Programming, Data Structures, Image Proces...","VJTI, Mumbai",Bachelor of Technology (B.Tech),Information Systems,2018,NaN,8.85/10,91.40/91.40,9.40/9.40
DS0004,Dhanbad,2,0,2,"Algorithms, C++ Programming, Data Structures, ...",IIT (ISM) Dhanbad,Integrated M.Tech,Mathematics and Computing,2021,NaN,8.40/10,91.80/91.80,10.00/10.00
DS0005,Bangalore,2,0,0,"MS-Word, Python, SQL, MS-Excel",Vvce,Bachelor of Engineering (B.E),Electronics and Communication,2018,NaN,NaN,NaN,NaN

In [3]:
# Check for the shape of the dataset
print(df.shape)
print()
# Check for the missing values
print(df.isnull().sum())

(611, 13)

Current City                    0
Python (out of 3)               0
R Programming (out of 3)        0
Data Science (out of 3)         0
Other skills                   10
Institute                       0
Degree                         36
Stream                         31
Current Year Of Graduation      0
Performance_PG                483
Performance_UG                 78
Performance_12                248
Performance_10                272
dtype: int64

In [4]:
# To get the column names of the dataset
df.columns

Index(['Current City', 'Python (out of 3)', 'R Programming (out of 3)',
       'Data Science (out of 3)', 'Other skills', 'Institute', 'Degree',
       'Stream', 'Current Year Of Graduation', 'Performance_PG',
       'Performance_UG', 'Performance_12', 'Performance_10'],
      dtype='object')

In [5]:
# We take a subset of the variables which are important for model building
data=df.drop(['Current City','Other skills', 'Institute', 'Degree','Stream','Performance_PG',
              'Performance_UG','Performance_12','Performance_10'],axis=1)

In [6]:
data['grandtotal']= 40
data.head()

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Current Year Of Graduation,grandtotal
Application_ID,,,,,
DS0001,1,0,3,2019,40
DS0002,2,1,2,2020,40
DS0003,2,0,0,2018,40
DS0004,2,0,2,2021,40
DS0005,2,0,0,2018,40

In [7]:
data[(data['grandtotal'] >= 40)]

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Current Year Of Graduation,grandtotal
Application_ID,,,,,
DS0001,1,0,3,2019,40
DS0002,2,1,2,2020,40
DS0003,2,0,0,2018,40
DS0004,2,0,2,2021,40
DS0005,2,0,0,2018,40
DS0006,2,2,0,2021,40
DS0007,0,0,1,2021,40
DS0008,2,2,0,2016,40
DS0009,2,0,1,2022,40
DS0010,0,0,0,2019,40
DS0011,1,0,1,2021,40
DS0012,1,2,2,2019,40
DS0013,0,0,0,2018,40
DS0014,0,0,0,2018,40
DS0015,3,0,3,2020,40
DS0016,0,0,0,2019,40
DS0017,2,0,1,2020,40
DS0018,0,0,0,2014,40
DS0019,2,0,2,2020,40
DS0020,1,0,0,2017,40
DS0021,1,1,1,2019,40
DS0022,2,0,0,2020,40
DS0023,3,0,0,2019,40
DS0024,3,1,2,2019,40
DS0025,3,0,2,2020,40
DS0026,0,0,0,2018,40
DS0027,2,0,2,2017,40
DS0028,2,0,0,2021,40
DS0029,2,0,2,2022,40
DS0030,0,0,0,2021,40
...,...,...,...,...,...
DS0582,2,0,0,2020,40
DS0583,2,0,2,2021,40
DS0584,2,2,0,2020,40
DS0585,0,0,0,2016,40
DS0586,2,0,1,2017,40
DS0587,2,0,0,2018,40
DS0588,1,0,0,2012,40
DS0589,3,0,2,2019,40
DS0590,1,1,0,2017,40
DS0591,2,0,0,2019,40
DS0592,1,0,0,2023,40
DS0593,2,0,1,2018,40
DS0594,0,0,0,2020,40
DS0595,3,2,1,2020,40
DS0596,2,0,0,2019,40
DS0597,2,0,2,2019,40
DS0598,2,0,1,2022,40
DS0599,1,0,0,2021,40
DS0600,2,0,0,2021,40
DS0601,2,0,0,2020,40
DS0602,0,0,0,2020,40
DS0603,0,0,0,2020,40
DS0604,2,0,0,2020,40
DS0605,2,0,0,2016,40
DS0606,2,0,2,2017,40
DS0607,2,2,2,2020,40
DS0608,1,0,0,2020,40
DS0609,2,2,0,2016,40
DS0610,3,2,2,2018,40
DS0611,2,2,0,2016,40

In [8]:
#making a result column in order to show shortlisted/not shortlisted candidates
data.criterion = 'NaN'
for i, row in data.iterrows() :
    if (row['grandtotal'] >=40):
        data.at[i,'criterion']="Shortlisted"
    else :
        data.at[i,'criterion']="Not Shortlisted"

In [9]:
inputs = data.drop(['criterion'],axis=1)
target=data['criterion']
output=data.criterion

In [10]:
data.head()

,Python (out of 3),R Programming (out of 3),Data Science (out of 3),Current Year Of Graduation,grandtotal,criterion
Application_ID,,,,,,
DS0001,1,0,3,2019,40,Shortlisted
DS0002,2,1,2,2020,40,Shortlisted
DS0003,2,0,0,2018,40,Shortlisted
DS0004,2,0,2,2021,40,Shortlisted
DS0005,2,0,0,2018,40,Shortlisted

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import tree

In [14]:
model = tree.DecisionTreeClassifier(criterion='entropy')

In [15]:
x_train,x_test,y_train,y_test=train_test_split(inputs,target)

In [16]:
model.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [17]:
model.predict(x_test)

array(['Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted', 'Shortlisted', 'Shortlisted', 'Shortlisted',
       'Shortlisted'], dtype=object)

In [18]:
model.score(x_test,y_test)

1.0